pandas
numpy
matplotlib
seaborn
folium
scikit-learn
imblearn
statsmodels
plotly
keras-tuner
xgboost
tensorflow
scikeras
joblib
psutil

#.\.venv\Scripts\activate   # activate venv if not already
#pip install -r requirements.txt 
#& "D:\MDS project\mds-fyp\.venv\Scripts\python.exe" -m pip install xgboost scikeras keras-tuner